{% extends "Frontend/layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<div style="width:100%;margin:auto;">
    <a href="/chi-tiet-san-pham">
        <img src="/assets/Frontend/images/Art_product-detail.jpg" style="width:100%;" />
    </a>
</div>
{% endblock %}
