<div class="row items">
    <div class="form-group col-md-4">
        <select class="form-control custom-select select2" style="width: 100%; height:36px;">
            {% if attributes %}
                {% for attribute in attributes %}
                    <option value="{{attribute._id}}">{{attribute.ten}}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="form-group col-md-2">
        <input type="number" name="price[]" class="form-control" placeholder="Giá" required>
    </div>
    <div class="form-group col-md-2">
        <input type="number" name="selling_price[]" class="form-control" placeholder="Giá bán" required>
    </div>
    <div class="form-group col-md-2">
        <input type="number" name="quantity[]" class="form-control" placeholder="Số lượng" required value="1">
    </div>
    <div class="form-group col-md-2">
        <div style="width:40px;height:40px;float:left;margin-right:5px;background:#ccc;" class="img_icon">
            <img src="/assets/Backend/images/logo-icon.png" style="width:40px;height:40px;" class="icon"/>
        </div>
        <label class="file btn btn-info btn-circle">
            <input type="file" name="img[]" style="display:none;" accept="image/*" class="image-icon"/>
            <i class="fa fa-file-photo-o"></i>
        </label>
        <a href="#" onclick="return false;" class="btn btn-danger btn-circle delete-attribute"><i class="fa fa-trash"></i></a>
    </div>
</div>
