<li><i class="ti-alarm-clock"></i> 10/10/2017 10:30 <span class="label label-info font-weight-100">Giao hàng</span> Lorem ipsum dolor sit amet <a href="#" onclick="return false;" class="delete_tinhtrang"><i class="mdi mdi-delete"></i></a></li>
