{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Welcome</h1>
    {% for user in users %}
        <li>{{user._id}} -- {{user.username}} -- {{user.password}}</li>
    {% endfor %}
    
{% endblock %}
