<form action="" method="post">
  <div class="form-group">
    <div class="form-group">
    <label for="exampleInputPassword1">Your Name</label>
    <input type="text" name="name" class="form-control" id=name placeholder="Your name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Your Email</label>
    <input type="email" class="form-control" id="email" placeholder="Your Email" placeholder="Your email">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Messages</label>
    <textarea  class="form-control" name="message" id="message" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
